table th {
    /*Keep column headers at the top as table is scrolled*/
    position: sticky;
    top: 0px; /* https://www.w3schools.com/cssref/pr_pos_top.php*/
}

.covid-table {
    max-height: 250px;  /*prevent able from stretching to bottom of screen*/
    overflow: auto;
}

.state {
    text-align: center;
    vertical-align: middle;
}

.positives {
    text-align: center;
    vertical-align: middle;
}